<html>
  <head>
    <title>New Job Posting</title>
    <link rel="stylesheet" href="/stylesheets/api-jobs.css" />
    <link rel="stylesheet" href="/stylesheets/layout.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    />
  </head>
  <body>
    <section class="container">
      <h1>Jobs list</h1>
      <hr />
      <div class="row">
        {{#each jobs}}
          {{#if this.employer_logo}}
            <div class="col-md-6 picture">
              <article class="character">
                <h2> Employer Name:{{this.employer_name}}</h2>
                <img src="{{this.employer_logo}}" alt="" />
                <hr />
                <p>Company Type: {{employer_company_type}}</p>
                <p><em>Job Title: {{this.job_title}}</em></p>
                <p>Location: {{this.job_country}} {{this.job_city}}</p>
                <div class="btn-group" style="width: 100%">
                  <hr />
                  <a href="#" class="button">Apply</a>
                  {{!-- <a href="/movie-characters/delete/{{id}}">Delete character</a> --}}
                </div>
              </article>
            </div>
          {{/if}}
        {{/each}}
      </div>
    </section>
  </body>
</html>